.work__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.work__title {
  font-family: Playball;
  font-size: 30px;
}
.work__subtitle {
  font-family: Roboto;
  font-size: 30px;
}
